// Colors Variables

    // Brand Colors
    $brand-01           : #FF3CA0;
    $dark-brand-01      : darken($brand-01, 25%);

    // Ui Colors
    $ui-01              : #FFFFFF;
    $ui-02              : #F4F7FB;
    $ui-03              : #e9ecef;
    $ui-04              : #c9c9c9;

    // Text Colors
    $text-01            : #202530;
    $text-02            : rgba($color: $text-01, $alpha: .8);
    $text-03            : rgba($color: $text-01, $alpha: .6);
    $text-inverse-01    : #FFFFFF;
    $text-inverse-02    : rgba(255, 255, 255, .85);

// End of Colors Variables

// Shadow

    $base-shadow        : 0 4px 24px rgba($color: #000000, $alpha: .08);
    $primary-shadow     : 0 8px 24px rgba($color: $brand-01, $alpha: .1);

// End of Shadow

// fonts

    $font-regular       : 'IBMPlexSans-Regular', sans-serif;
    $font-italic        : 'IBMPlexSans-Italic', sans-serif;
    $font-bold          : 'IBMPlexSans-Bold', sans-serif;
    //$font-Medium: 'IBMPlexSans-Medium', sans-serif;

// End of Fonts

// Breakpont

    $breakpoint-small       : 576px;
    $breakpoint-medium      : 768px;
    $breakpoint-large       : 992px;
    $breakpoint-extra-large : 1200px;

// End of Breakpont

// Layout Scale

    $layout-md          : 64px;
    $layout-lg          : 96px;
    $layout-xl          : 160px;

// End of Layout Scale

// Spacing Scale

    $spacing-2xs        : 4px;
    $spacing-xs         : 8px;
    $spacing-sm         : 12px;
    $spacing-md         : 16px;
    $spacing-lg         : 24px;
    $spacing-xl         : 32px;
    $spacing-2xl        : 40px;
    $spacing-3xl        : 48px;
    
// End of Spacing Scale