@mixin absolutecenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin relativecenter {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}