// Colors Variables
    // Brand
    $brand-01: #FF3CA0;
    $brand-02: #A6266E;
    // Ui
    $ui-01: #FFFFFF;
    $ui-02: #F4F7FB;
    $ui-03: #e9ecef;
    // Text
    $text-01: #202530;
    $text-02: #5A6872;
    $text-03: #CDD1D4;
    $inverse-01: #FFFFFF;
    $inverse-02: rgba(255, 255, 255, .9);
// End of Colors Variables

// Fonts
	$headline-font: 'Lato-Bold', sans-serif;
    $text-font: 'OpenSans-Regular', sans-serif;
    $thin-font: 'Lato-Light', sans-serif;
// End of Fonts

// Spacing Scale
    $spacing-2xs: 4px;
    $spacing-xs: 8px;
    $spacing-sm: 12px;
    $spacing-md: 16px;
    $spacing-lg: 24px;
    $spacing-xl: 32px;
    $spacing-2xl: 40px;
    $spacing-3xl: 48px;
// End of Spacing Scale

// Layout Scale
    $layout-md: 64px;
    $layout-lg: 96px;
    $layout-xl: 160px;
// End of Layout Scale

// Breakpont
    $breakpoint-small: 576px;
    $breakpoint-medium: 768px;
    $breakpoint-large: 992px;
    $breakpoint-extra-large: 1200px;
// End of Breakpont