// ********************
// Colors Variables
// ********************
    // Text
    $headline-color: #202224;
    $text-color: #6f7378;
    $lite-white-color: #f0f0f0;
    //Fill
    $white-color: #fff;
    $dark-color: #202224;
    $lite-dark-color: #363640;
    $gray-color: #e0e0e0;
    $dark-gray-color: #999;
	$lite-gray-color: #f4f7f8;
    $main-color: #5E42A7;
    $lite-main-color: rgb(126, 88, 223);
    $dark-main-color: rgb(57, 39, 102);
    $success-color: #35EABD;
    $filed-color: #F14E3B;

// ********************
// Fonts
// ********************
	$headline-font: 'Lato-Bold', sans-serif;
    $text-font: 'OpenSans-Regular', sans-serif;
    $thin-font: 'Lato-Light', sans-serif;
        @font-face{
            font-family: 'Lato-Bold';
            src : url('fonts/Lato-Bold.ttf');
        }
        @font-face{
            font-family: 'OpenSans-Regular';
            src : url('fonts/OpenSans-Regular.ttf');
        }
        @font-face{
            font-family: 'Lato-Thin';
            src : url('fonts/Lato-Light.ttf');
        }

// ********************
// Breakpont
// ********************
    $breakpoint-small: 576px;
    $breakpoint-medium: 768px;
    $breakpoint-large: 992px;
    $breakpoint-extra-large: 1200px;