/*==================== Start global ====================*/
.link{
    color: $text-02;
    &:hover{
        color: $brand-01;
        text-decoration: none;
    }
}
.widget{
    margin-bottom: $layout-01;
    .widget-title{
        margin-bottom: $spacing-07;
    }
}
.bg-facebook{
    background-color: #3b5998;
}
.bg-twitter{
    background-color: #00aced;
}
.bg-whatsapp{
    background-color: #25D366;
}
/*==================== End of global ====================*/