/*========== Typography ==========*/
    body{
        line-height: 24px;
        color: $text-color;
        font-size: 15px;
        font-family: $text-font;
        @media (max-width: $breakpoint-large){
            line-height: 24px;
            font-size: 14px;
        }
    }
    h1,h2,h3,h4,h5,h6{
        margin-bottom: 0;
        color: $headline-color;
        font-family: $headline-font;
    }
    h1{
        line-height: 72px;
        font-size: 60px;
    }
    h2{
        line-height: 56px;
        font-size: 48px;
    }
    h3{
        line-height: 48px;
        font-size: 34px;
    }
    h4{
        line-height: 32px;
        font-size: 24px;
    }
    h5{
        line-height: 24px;
        font-size: 20px;
    }
    h6{
        line-height: 24px;
        font-size: 16px;
    }
    p{
        line-height: 24px;
        margin-bottom: 16px;
    }
    .subheadline{
        line-height: 32px;
        font-size: 20px;
    }
    .overline{
        line-height: 16px;
        font-size: 12px;
        font-family: $headline-font;
        color: $dark-gray-color;
        text-transform: uppercase;
    }
    .caption{
        line-height: 16px;
        font-size: 12px;
    }
/*========== End Typography ==========*/