/*==================== Start section footer ====================*/
    .footer{
        background-color: $dark-color;
        color: $lite-white-color;
        .container{
            padding-top: 48px;
            padding-bottom: 48px;
            .logo{
                margin-bottom: 32px;
                img{
                    height: 40px;
                    width: auto;
                }
            }
            .social{
                .icon{
                    display: inline-block;
                    width: 44px;
                    height: 44px;
                    line-height: 42px;
                    margin-right: 16px;
                    border: solid 1px $text-color;
                    border-radius: 8px;
                    font-size: 16px;
                    a{
                        color: $lite-white-color;
                    }
                }
            }
        }
        .footer-bottom{
            background-color: rgba(0, 0, 0,.2);
            .container{
                padding-top: 16px;
                padding-bottom: 16px;
            }
        }
    }
/*==================== End section footer ====================*/