/*==================== Start section hero ====================*/
    .hero{
        position: relative;
        min-height: 768px;
        overflow: hidden;
        .container{
            @extend %absolutecenter;
            .text{
                margin-top: 48px;
                margin-bottom: 48px;
                line-height: 32px;
                font-size: 20px;
            }
        }
        .right{
            position: absolute;
            top: 0;
            left: 32px;
            transform: translateX(100%);
            width: 50%;
            height: 768px;
            background-color: $second-color;
            border-top-left-radius: 384px;
            border-bottom-left-radius: 384px;
        }
    }
/*==================== End section hero ====================*/