.comment-list{
    .comment-wrapper{
        padding-bottom: $spacing-06;
        margin-bottom: $spacing-06;
        border-bottom: 1px dashed $ui-03;
    }
    .comment-avatar{
        float: left;
        img{
            height: 64px;
            @media (min-width: $breakpoint-medium) {
                height: 86px;
            }
        }
    }
    .comment-content{
        margin-left: $spacing-05;
        @media (min-width: $breakpoint-medium) {
            margin-left: $spacing-06;
        }
        .comment-header{
            .title{
                .link{
                    
                }
                span{
                    margin-left: $spacing-05;
                    font-size: 14px;
                    font-family: $font-regular;
                }
            }
        }
        .comment-body{
            .text{
                margin-bottom: $spacing-03;
            }
        }
    }
    .comment-child{
        padding-left: $spacing-09;
        @media (min-width: $breakpoint-medium) {
            padding-left: $layout-01;
        }
    }
}