// start section footer
.footer#foote
    .container
    .footer-bottom
        .container
            span.caption © JacobWilliams, 2018. All Rights Reserved. | Created by 
                a(href="berkanioussama.ml") Berkani Oussama Ala Eddine
// end section footer

// start loading spinner
.loading
    .box
        .spinner
// start loading spinner

// start scripts
script(src="scripts/main.js")

// end scripts