head
    meta(charset="UTF-8")
    // First mobile meta
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    // This meta used to change phone address bar to theme color
    meta(name="theme-color", content="#f07856")
    // Website description (CIO)
    meta(name="description", content="#f07856")
    meta(name="keywords", content="#f07856")
    meta(name="author", content="Berkani oussama ala eddine")
    // Favicon
    link(href="images/favicon.png", rel="shortcut icon")
    // Theme styles
    link(rel="stylesheet", href="styles/libs.css")
    link(rel="stylesheet", href="styles/main.css")
    // Website title
    title #{title}
    // 
        [if it IE 9]>
        <script src="scripts/html5shiv.min.js"></script>
        <script src="scripts/respond.min.js"></script>
        <![endif]
