// start section navbar
nav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
        a.navbar-brand(href="index.html")
            img(src="images/logo.png", alt="")
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation")
            i.icofont-navigation-menu
        .collapse.navbar-collapse#navbarContent
            ul.navbar-nav.ml-auto
                li.nav-item: a.nav-link(href="#hero" data-scroll) Home
                li.nav-item: a.nav-link(href="#about" data-scroll) About
                li.nav-item: a.nav-link(href="#services" data-scroll) Services
                li.nav-item: a.nav-link(href="#portfolio" data-scroll) Portfolio
                li.nav-item: a.nav-link(href="#testimonial" data-scroll) Testimonial
                li.nav-item: a.nav-link(href="#blog" data-scroll) Blog
                li.nav-item: a.nav-link(href="#contact" data-scroll) Contact

// end section navbar
