.avatar{
    height: auto;
    border-radius: 50% !important;
}
.avatar-xl{
    width: 160px !important;
}
.avatar-lg{
    width: 96px !important;
}
.avatar-md{
    width: 64px !important;
}
.avatar-sm{
    width: 48px !important;
}
.avatar-xs{
    width: 32px !important;
}