.button-box{
    display: inline-block;
    position: relative;
    &:hover{
        &::before{
            box-shadow: 0 6px 16px rgba($color: $brand-01, $alpha: .3);
        }
    }
    &::before{
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 2%;
        width: 96%;
        height: 100%;
        background-color: transparent;
        border-radius: 4px;
        box-shadow: none;
        z-index: -1;
        transition: all .3s ease-in-out;
    }
}
.btn{
    line-height: 16px;
    padding: $spacing-md $spacing-2xl;
    border-width: 2px;
    border-radius: 4px;
    color: $inverse-01;
    font-family: $text-medium;
    letter-spacing: 1px;
    
}
.btn-sm{
    line-height: 20px;
    padding: $spacing-sm $spacing-md;
    color: $inverse-01;
    
}

.btn-primary{
    background-color: $brand-01;
    border-color: $brand-01;
    &:hover{
        background-color: $brand-01;
        border-color: $brand-01;
    }
    &:active{
        box-shadow: none;
    }
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: $brand-02;
    border-color: $brand-02;
    color: $inverse-01;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    background-color: $brand-02;
    border-color: $brand-02;
    color: $inverse-01;
    box-shadow: none;
}
.btn-primary.focus, .btn-primary:focus {
    background-color: $brand-02;
    border-color: $brand-02;
    color: $inverse-01;
    box-shadow: none;
}
.btn-primary:disabled, .btn-primary.disabled{
    background-color: $brand-02;
    border-color: $brand-02;
}

.btn-secondary{
    background-color: transparent;
    border-color: $brand-01;
    color: $brand-01;
    &:hover{
        background-color: $brand-01;
        border-color: $brand-01;
        color: $inverse-01;
    }
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    background-color: $brand-02;
    border-color: $brand-02;
    color: $inverse-01;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    background-color: $brand-02;
    border-color: $brand-02;
    color: $inverse-01;
    box-shadow: none;
}
.btn-secondary.focus, .btn-secondary:focus {
    background-color: $brand-02;
    border-color: $brand-02;
    color: $inverse-01;
    box-shadow: none;
}
.btn-secondary:disabled, .btn-secondary.disabled{
    background-color: $brand-02;
    border-color: $brand-02;
}

.btn-tertiary{
    background-color: transparent;
    border-color: transparent;
    color: $brand-01;
    &:hover{
        background-color: $brand-01;
        border-color: $brand-01;
        color: $inverse-01;
    }
}
.btn-tertiary:not(:disabled):not(.disabled).active,
.btn-tertiary:not(:disabled):not(.disabled):active,
.show>.btn-tertiary.dropdown-toggle {
    background-color: $brand-02;
    border-color: $brand-02;
    color: $inverse-01;
}
.btn-tertiary:not(:disabled):not(.disabled).active:focus,
.btn-tertiary:not(:disabled):not(.disabled):active:focus,
.show>.btn-tertiary.dropdown-toggle:focus {
    background-color: $brand-02;
    border-color: $brand-02;
    color: $inverse-01;
    box-shadow: none;
}
.btn-tertiary.focus, .btn-tertiary:focus {
    background-color: $brand-02;
    border-color: $brand-02;
    color: $inverse-01;
    box-shadow: none;
}
.btn-tertiary:disabled, .btn-tertiary.disabled{
    background-color: $brand-02;
    border-color: $brand-02;
}