form, .form{
    .form-group{
        margin-bottom: $spacing-lg;
    }
    label{
        margin-bottom: $spacing-2xs;
        font-family: $font-bold;
        text-transform: uppercase;
        cursor: pointer;
    }
    .form-control{
        height: 48px;
        padding: $spacing-sm;
        padding-left: $spacing-md;
        border: solid 1px $ui-04;
        transition: all .3s ease-in-out;
        &:active, &:focus{
            border-color: $brand-01;
            border-width: 2px;
        }
        &.is-valid{
            border-width: 2px;
            border-color: $success;
        }
        &.is-invalid{
            border-width: 2px;
            border-color: $danger;
        }
    }
    textarea.form-control{
        height: 224px;
    }
    ::placeholder{
        color: rgba($color: $text-02, $alpha: .7);
    }
    .form-check-input[type="checkbox"]{
        display: none;
        + .form-check-label::before{
            content: "\f0c8";
            font-family: "Font Awesome 5 Free";
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            margin-right: $spacing-sm;
            margin-left: -$spacing-md;
            transition: all .3s ease-in-out;
        }
        &:checked + .form-check-label::before{
            content: "\f14a";
            font-weight: 900;
            color: $brand-01;
        }
    }
    .custom-control-input[type="radio"]{
        display: none;
        + .custom-control-label::before{
            content: "\f111";
            font-family: "Font Awesome 5 Free";
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            margin-right: $spacing-sm;
            margin-top: -$spacing-2xs;
            background-color: transparent;
            border: none;
            transition: all .3s ease-in-out;
        }
        + .custom-control-label::after{
            display: none;
        }
        &:checked + .custom-control-label::before{
            content: "\f058";
            font-weight: 900;
            color: $brand-01;
            background-color: transparent;
            border: none;
        }
    }
}
