.list-group{
    .list-group-item{
        padding: $spacing-04 0;
        background-color: transparent;
        &:first-child{
            border-top: 0;
        }
        &:last-child{
            border-bottom: 0;
        }
    }
}