.pagination {
    border-radius: $spacing-2xs;
    .page-item{
        .page-link{
            margin: 0 $spacing-2xs;
            padding: $spacing-sm $spacing-md;
            background-color: $ui-01;
            color: $brand-01;
            transition: all .3s ease-in-out;
            &:hover{
                color: $ui-01;
                background-color: $brand-01;
                border-color: $ui-03;
            }
        }
        &:first-child .page-link{
            border-top-left-radius: $spacing-2xs;
            border-bottom-left-radius: $spacing-2xs;
        }
        &:last-child .page-link{
            border-top-right-radius: $spacing-2xs;
            border-bottom-right-radius: $spacing-2xs;
        }
    }
}