.section-header{
    margin-bottom: $layout-lg;
    text-align: center;
    .title{
        margin-bottom: $spacing-2xs;
    }
    .subtitle{
        margin-bottom: 0;
        line-height: 28px;
        font-size: 20px;
        font-family: $text-medium;
        @media (max-width: $breakpoint-medium) {
            line-height: 28px;
            font-size: 16px;
        }
    }
}