.section-header{
    margin-bottom: $layout-01;
    text-align: center;
    .title{
        margin-bottom: $spacing-02;
    }
    .subtitle{
        margin-bottom: 0;
        line-height: 28px;
        font-size: 16px;
        @media (min-width: $breakpoint-medium) {
            line-height: 28px;
            font-size: 18px;
        }
    }
}