.tag{
    display: inline-block;
    margin-right: $spacing-xs;
    margin-bottom: $spacing-xs;
    padding: $spacing-sm;
    line-height: 20px;
    background-color: $ui-02;
    border-radius: 4px;
    color: $text-02;
}