.tag{
    display: inline-block;
    margin-right: $spacing-03;
    margin-bottom: $spacing-03;
    padding: $spacing-04;
    line-height: 20px;
    background-color: $ui-02;
    border-radius: 4px;
    color: $text-02;
}