//- Variables
- var title = "Services"

<!DOCTYPE html>
html(lang="en")

    //- include head
    include ../0-components/head
    
    body#home(data-spy="scroll" data-target=".navbar" data-offset="50")
        
        //- include navbar
        include ../0-components/navbar

        //- start section hero
        
        //- end section hero

        //- include footer
        include ../0-components/footer