//- Footer Section
.footer#footer.text-center
    .container
        //- links
        .logo: a(href="#").class: img(src="images/logo-c.png" alt="Berkanioussama Logo")
        .row.justify-content-center
            .col-lg-6.col-md-8
                p.text In at iaculis lorem. Praesent tempor dictum tellus ut molestie. Sed sed ullamcorper lorem, id faucibus odio. Duis eu nisl ut ligula cursus molestie at at dolor.
        .social
            .icon: a(href="#"): i.fab.fa-facebook-f
            .icon: a(href="#"): i.fab.fa-twitter
            .icon: a(href="#"): i.fab.fa-instagram
            .icon: a(href="#"): i.fab.fa-linkedin-in
            .icon: a(href="#"): i.fab.fa-youtube
        //- End of links
        hr
        //- Copyright
        span.caption Copyright © 2019 
            a.link(href="berkanioussama.ml") Cartera
        //- End of Copyright
//- End of Footer Section

//- Include Scripts
script(src="scripts/main.js")